.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 2vh;
}

.middlealign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdownlabel {
  min-width: 100px;
  text-align: right;
  display: flex;
  flex-direction: row;
}

.dropdown {
  min-width: 250px;
  display: flex;
  flex-direction: row;
}

.rolledstat {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #f2f2f2;
  position: relative;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.statpoint {
  --circle-width: 45px;
  --circle-height: 35px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #f2f2f2;
  position: relative;
  border: 1px solid black;
  text-align: center;
}

.statpoint::before {
  content: "";
  position: absolute;
  bottom: calc(02% - var(--circle-height) / 2 - 1px);
  left: calc(49% - (var(--circle-width) / 2));
  width: var(--circle-width);
  height: var(--circle-height);
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 1px solid black;
}

.statpoint .oval-text {
  position:absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statpoint .square-text {
  position: absolute;
  top : 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.statpointcollection {
  --margin: 10px;
  display: flex;
  flex-direction: row;
  margin-left: var(--margin);
  margin-bottom: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  margin-right: var(--margin);
}

.statlabel {
  font-size: 13px;
  text-align: center;
}

.detailsbar {
  align-content: left;
  justify-content: left;
  text-align: left;
}

.detailslabel {
  text-align: center;
}